*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.tabs{
    margin: 100px 118px;
}

.container__tabs{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.tabs__item{
    background-color: rgb(255, 255, 255);
    max-width: 203px;
    width: 100%;
    min-height: 39px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.tabs__item_active{
    border: 1px solid #c6cbcd;
    border-radius: 5px 5px 0px 0px;
    border-bottom:none ;
    position: relative;
}

.tabs__item_active::before{
    content: '';
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -3px;
}
.tab{
    width: 100%;
    display: flex;
    border: 1px solid #C6CBCD;
}
.tab__info{
    width: 60%;
    vertical-align: top;
    padding: 50px 30px 50px 100px;
}
.tab__tittle{
    margin-bottom: 57px;
    font-size: 30px;
    line-height: 41px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.tab__text{
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
}

.tab__button{
    max-width: 270px;
    width: 100%;
    background: #EC7979;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
    line-height: 25px;
    padding: 17px; 
    font-weight: 600;
    margin-top: 84px;
    cursor: pointer;
}

.tab__button:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #AB4949;
}

.tab__button:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.tab__icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrap{
    width: 40%;
    min-height: 500px;
}

.advantage{
    margin-bottom: 110px;
}

.container{
    max-width: 1170px; 
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.inner{
    width: 100%;
    display: flex;
    column-gap: 28px;
}

.advantage__design{
    max-width: 370px;
    text-align: center;
}

.section__title{
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
}

.section__title::after{
    position: absolute;
    content: '';
    display: block;
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%);
}

.section__text{
    text-align: center;
    margin-bottom: 92px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.advantage__wrap{
    width: 92px;
    height: 92px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #EC7979;
    margin: 0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.advantage__wrapper{
    width: 92px;
    height: 92px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #EC7979;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
}

.advantage__package{
    width: 92px;
    height: 92px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #EC7979;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 auto 24px;
}
 
.advantage__title{
    margin-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}   
.advantage__text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.pricing{ 
    margin-bottom: 107px;
    padding-top: 82px;
    padding-bottom: 83px;
    background-color:  #F5F5F5 
}

.options{
    max-width: 1508px; 
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.pricing__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    position: relative;
    margin-bottom: 80px;
}

.pricing__title::after{
    position: absolute;
    content: '';
    display: block;
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%); 
}

.pricing__text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:  #86878B;
    margin-bottom: 79px;
}

.offers{
    display: flex;
    column-gap: 30px;
    justify-content:center
}

.offers__wrap{
    max-width: 370px;
    width: 100%;
}

.offers__wrap:hover{
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}



.offers__configuration{
    color: #FFFFFF;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 20px 0;
    text-align: center;
    
}

.offers__price{
    background-color: #333333;
    color: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 30px 0;
    text-align: center;
}

.offers__text{
    background-color:#333333 ;
    color: #86878B;
    border-bottom: 1px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 10px 0;
}

.offers__memory li{
    background-color: #FFFFFF;
    color: #86878B;
    border-bottom: 1px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    list-style-type: none;
    padding: 10px 0;
}

.offers__memory li:last-child{
    border-bottom: none;
}


.reviews{
    margin-bottom: 107px;
}

.comment{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.rewiews__header{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    position: relative;
    margin-bottom: 83px;
}

.rewiews__header::after{
    position: absolute;
    content: '';
    display: block;
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%); 
}

.rewiews__text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:  #86878B;
    margin-bottom: 83px;
}

.envelope{
    display: flex;
    column-gap: 30px;
}

.connection{
    max-width: 370px;
    width: 100%;
    text-align: center;
}

.connection__text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
    background-color: #E2E2E2;
    padding: 38px 25px;
    position: relative;
    margin-bottom: 66px;
    border-radius: 10px;
}

.connection__text::after{
    content: '';
    display: inline-block;
    border: 20px solid transparent;
    border-top: 20px solid #E2E2E2;
    position: absolute;
    top: 100%;
    left: 70px;
}

.person__img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.person__info{
    display: flex;
    
}

.person__name{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
    
}

.person__position{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.person__text{
    margin-left: 30px;
}

.design{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #000000;
    background-image: url(media/image.jpg), url(media/bg.jpg);
    background-size: cover;
    position: relative;
}

.container__design{
    max-width: 1170px;
    width: 100%;    
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.design::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.design__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;
}

.design__title::after{
    position: absolute;
    content: '';
    display: block;
    width: 170px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%); 
}

.design__text{
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;
}

.design__button{
    max-width: 370px;
    width: 100%;
    border: 1px solid #FFFFFF;
    background:none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 17px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.design__button:hover{
    border: 1px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
}

.design__button:active{
    color: rgba(171, 73, 73, 1);
    border: 1px solid rgba(171, 73, 73, 1);
}


.header{
    background-color: #000000;
}

.container__header{
    max-width: 1170px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    column-gap: 20px;
    text-align: center;
}

.header__logo{
    text-decoration: none;
    padding-top: 22px;
    display: inline-block;
}


.header__list{
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
}

.header__list a{
    text-decoration: none;
    color: #ffffff;
    padding: 28px;
    min-width: 113px;
    display: inline-block;
}

.header__list a:hover{
    background-color: #EC7979;
}

.header__list a:active{
    background-color: #AB4949;
} 

.header__text{
    text-align: center;
}


.banner{
    padding-top: 306px;
    padding-bottom: 185px;
    background-color: #000000;
    background-image: url(media/image2.jpg), url(media/bg2.jpg);
    background-size: cover;
    position: relative;
}

.container__banner{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    column-gap: 30px;
}

.banner__block{
    max-width: 670px;
    width: 100%;
}

.banner__wrap{
    margin-bottom: 73px;
    position: relative;
    z-index: 2;
}

.banner__title{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 73px;
    z-index: 2;
}

.banner__title::after{
    position: absolute;
    content: '';
    display: block;
    width: 170px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
    left: 0;
    top: calc(100% + 40px); 
    z-index: 2;
}

.banner__text{
    max-width: 270px;
    width: 100%;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 42px;
    position: relative;
    z-index: 2;
}

.banner__button{
    max-width: 270px;
    width: 100%;
    background:none;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 25px;
    padding: 17px; 
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.banner__button:hover{
    border: 2px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
    cursor: pointer;
}

.banner__button:active{
    color: rgba(171, 73, 73, 1);
    border: 2px solid rgba(171, 73, 73, 1);
    cursor: pointer;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.banner__form{
    max-width: 470px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    padding-top: 36px;
    height: fit-content;
}

.form__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    font-style: normal;
    margin-bottom: 75px;
}

.form__title-text{
    color: rgba(236, 121, 121, 1);
}

.form{
    max-width: 470px;
    width: 100%;
}

.form__input{
    max-width: 370px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 33px;
}

.form__input-password{
    margin-bottom: 75px;
    max-width: 370px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    padding-bottom: 8px;
    padding-top: 8px;
}

.form__input-password:focus{
    color: #EC7979;
    outline: none;
}

.form__input-password:hover{
    border-bottom: 1px solid #EC7979;
    cursor: pointer;
}

.form__input:focus{
    color: #EC7979;
    cursor: pointer;
}

.form__input:hover{
    cursor: pointer;
    border-bottom: 1px solid #EC7979;
}

.form__button{
    display: block;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 20px; 
    background: #EC7979;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0px 0px 10px 10px;
    border: none;
    cursor: pointer;
}

.form__button:hover{
    background: #AB4949;
}

.form__button:active{
    background: #EC7979;
}

.media{
    padding-top: 32px;
    padding-bottom: 18px;
    background-image: url(media/bg1.jpg);
    background-size: cover;
    position: relative;
}

.container__media{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    column-gap: 50px;
}

.media__social{
    max-width: 470px;
    width: 100%;
}

.media__title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 16px;
}

.media__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B
}

.media__label{
    max-width: 670px;
    width: 100%;
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.media__logo{
    text-decoration: none;
    object-fit: cover;
}



.banner__img:hover{
    transform: scale(1.1);
}

.contact{
    padding: 66px 0 67px;
}

.contact__container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.contact__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 80px;
    position: relative;
}

.contact__title::after{
    position: absolute;
    content: '';
    display: block;
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0;
    left: 50%;
    top: calc(100% + 40px);
    transform: translateX(-50%); 
}

.contact__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 89px;
}



.contact__wrapper{
    display: flex;
    column-gap: 30px;
}

.contact__wrap{
    max-width: 569px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contact__input{
    max-width: 569px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    margin-bottom: 50px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.contact__input:hover{
    cursor: pointer;
    border-bottom: 1px solid #EC7979;
}

.contact__input:focus{
    color: #EC7979;
    outline: none;
}

.contact__input:last-child{
    margin-bottom: 0;
}

.contact__message{
    max-width: 569px;
    width: 100%;
    justify-content: center;
    
}

.input__message{
    max-width: 569px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    resize: none;
    color: #BDBDBD;
}

.input__message:hover{
    cursor: pointer;
    border-bottom: 1px solid #EC7979;
}

.input__message:focus{
    color: #EC7979;
    outline: none;
}


.contact__button{
    max-width: 370px;
    width: 100%;
    border: 1px solid #FFFFFF;
    background-color: #EC7979;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 17px;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
}

.contact__button:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #AB4949;
}

.contact__button:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.footer{
    padding-top: 32px;
    padding-bottom: 18px;
    background-color: #000000;
    background-size: cover;
    position: relative;
}

.footer__container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 28px;
}

.footer__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}








