* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  list-style-type: none;
}

.header__link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 42px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  font-family: "Raleway", sans-serif;
  display: block;
  border-bottom: 3px solid transparent;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media (max-width: 1024px) {
  .header__link {
    font-size: 12px;
    line-height: 14px;
  }
}

.header__link:hover {
  border-bottom: 3px solid #BABBC5;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header__link:active {
  border-bottom: 3px solid #E71414;
  color: #E71414;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header__linkLogo {
  width: 184px;
  height: 26px;
}

.header__svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.header__menuSvg {
  pointer-events: none;
  display: none;
}

@media (max-width: 980px) {
  .header__menuSvg {
    display: block;
  }
}

@media (max-width: 980px) {
  .header__nav {
    display: none;
  }
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 1px solid #BABBC5;
}

@media (max-width: 1024px) {
  .container__header {
    max-width: 984px;
    width: 100%;
  }
}

@media (max-width: 980px) {
  .container__header {
    border-bottom: none;
  }
}

.bannerTop {
  position: relative;
  background: #252B49;
  mix-blend-mode: normal;
  background-image: url(../image/background_image_headerTop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 120px;
}

@media (max-width: 1024px) {
  .bannerTop {
    padding: 257px 0 126px;
  }
}

@media (max-width: 767px) {
  .bannerTop {
    padding: 106px 0 52px;
  }
}

.bannerTop::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #252B49;
  opacity: 0.8;
}

.bannerTop__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .bannerTop__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61px;
  }
}

@media (max-width: 767px) {
  .bannerTop__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32px;
  }
}

.bannerTop__text {
  margin-bottom: 82px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .bannerTop__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 91px;
  }
}

@media (max-width: 767px) {
  .bannerTop__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
  }
}

.bannerTop__btn {
  max-width: 370px;
  width: 100%;
  padding: 24px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
  background-color: #FF4343;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .5s linear;
  transition: background-color .5s linear;
}

@media (max-width: 1024px) {
  .bannerTop__btn {
    max-width: 314px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .bannerTop__btn {
    max-width: 280px;
    width: 100%;
    padding: 15px 0;
  }
}

.bannerTop__btn:hover {
  background-color: #E71414;
}

.bannerTop__btn:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.container__bannerTop {
  position: relative;
  z-index: 2;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container__bannerTop {
    max-width: 984px;
    width: 100%;
  }
}

.advantages {
  padding: 116px 0 134px;
}

@media (max-width: 1024px) {
  .advantages {
    padding: 78px 0 80px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 40px 0 34px;
  }
}

.advantages__list {
  text-align: center;
}

.advantages__image {
  margin-bottom: 35px;
}

@media (max-width: 1024px) {
  .advantages__image {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .advantages__image {
    margin-bottom: 66px;
  }
}

.advantages__title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2D3033;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .advantages__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .advantages__title {
    margin-bottom: 10px;
  }
}

.advantages__text {
  color: #6C7279;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .advantages__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .advantages__text {
    margin-bottom: 20px;
  }
}

.container__advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 22px;
  grid-row-gap: 85px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .container__advantages {
    max-width: 984px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container__advantages {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.projects {
  margin-bottom: 114px;
}

@media (max-width: 1024px) {
  .projects {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .projects {
    margin-bottom: 35px;
  }
}

.projects__imageWrap {
  border: 1px solid #FFFFFF;
  position: relative;
}

.projects__imageWrap::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.projects__imageWrap :hover {
  opacity: 0.8;
  cursor: pointer;
  background-color: #FF4343;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.projects__imageWrap :active {
  opacity: 0.8;
  cursor: pointer;
  background-color: #B90C0C;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.projects__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.projects__imageInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  opacity: 0;
}

.projects__title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 110px 0 20px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .projects__title {
    margin: 75px 0 12px;
    font-size: 18px;
    line-height: 21px;
  }
}

.projects__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .projects__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.container__projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

@media (max-width: 767px) {
  .container__projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container__team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .container__team {
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (max-width: 767px) {
  .container__team {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.team {
  margin-bottom: 114px;
}

@media (max-width: 1024px) {
  .team {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .team {
    margin-bottom: 34px;
  }
}

.team__imageWrap {
  margin-bottom: 30px;
  position: relative;
}

.team__imageWrap::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.team__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.team__title {
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  color: #2D3033;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .team__title {
    font-size: 18px;
    line-height: 21px;
  }
}

.team__subtitle {
  margin-bottom: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FF4343;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .team__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.team__text {
  margin-bottom: 38px;
  font-family: "Raleway", sans-serif;
  color: #6C7279;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.team__link {
  margin-right: 5px;
}

.team__link:last-child {
  margin-right: 0;
}

.team__socialsSvg:hover path {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  fill: #E71414;
}

.team__socialsSvg:hover rect {
  stroke: #E71414;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.team__socialsSvg:active path {
  fill: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.team__socialsSvg:active rect {
  stroke: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 129px;
          column-gap: 129px;
  background-color: #5C3249;
}

.slider__imageWrap {
  min-height: 490px;
}

.slider__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.slider__box {
  max-width: 471px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider__title {
  font-family: "Cardo", serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 20px;
}

.slider__text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.download {
  padding: 155px 0 114px;
}

@media (max-width: 1024px) {
  .download {
    padding: 77px 0 78px;
  }
}

@media (max-width: 676px) {
  .download {
    padding: 67px 0 45px;
  }
}

.download__title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
}

.download__text {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .download__text {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 13px;
  }
}

.download__btn {
  max-width: 370px;
  width: 100%;
  padding: 25px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  border: none;
  cursor: pointer;
  background-color: #FF4343;
  -webkit-transition: background-color .5s linear;
  transition: background-color .5s linear;
}

@media (max-width: 1024px) {
  .download__btn {
    max-width: 313px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    padding: 28px;
  }
}

@media (max-width: 767px) {
  .download__btn {
    max-width: 278px;
    width: 100%;
    padding: 28px;
  }
}

.download__btn:hover {
  background-color: #E71414;
}

.download__btn:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.container__download {
  padding: 0 15px;
  text-align: center;
}

.container__footerLight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .container__footerLight {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .container__footerLight {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 68px;
  }
}

.container__footerDark {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__light {
  background-color: #353C65;
  padding: 71px 0 71px;
}

@media (max-width: 1024px) {
  .footer__light {
    padding: 46px 0 43px;
  }
}

@media (max-width: 767px) {
  .footer__light {
    padding: 34px 0 33px;
  }
}

.footer__dark {
  background-color: #2C3154;
  padding: 24px;
}

@media (max-width: 1024px) {
  .footer__dark {
    padding: 14px;
  }
}

@media (max-width: 767px) {
  .footer__dark {
    padding: 29px 0 28px;
  }
}

.footer__wrap {
  max-width: 370px;
  width: 100%;
  text-align: center;
}

.footer__title {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 34px;
  }
}

.footer__text {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 18px;
    line-height: 21px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .footer__socials {
    -webkit-column-gap: 22px;
            column-gap: 22px;
  }
}

.footer__copyright {
  font-family: "Raleway", sans-serif;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__copyrightWhite {
  color: #FFFFFF;
}

.footer__socialsSvg:hover path {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  fill: #E71414;
}

.footer__socialsSvg:hover rect {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  stroke: #E71414;
}

.footer__socialsSvg:active path {
  fill: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.footer__socialsSvg:active rect {
  stroke: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}
/*# sourceMappingURL=style.css.map */