$colorWhite: #FFFFFF;
$colorDecoration: #BABBC5;
$fontFamilyPrimary: 'Raleway', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    z-index: 2;
    width: 100%;

    &__items{
        display: flex;
        column-gap: 20px;
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
    }

    &__item{
        padding: 20px;
    }

    &__item:hover{
        border-bottom: 3px solid $colorDecoration;
    }

    &__item:active{
        border-bottom: 3px solid $colorDecoration;
    }

    &__link{
        font-family: $fontFamilyPrimary;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        color: $colorWhite;
    }

    &__linkLogo{
        width: 185px;
        height: 100px;
    }
}

.container__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    

    &::after{
        content: '';
        position: absolute;
        bottom: 0px;
        display: block;
        width: 1170px;
        border: 1px solid $colorDecoration;
    }
}
