* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  font-family: "Raleway", sans-serif;
  padding: 42px 15px;
}

.header__link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 42px 15px;
}

.header__link:hover {
  border-bottom: 3px solid #BABBC5;
}

.header__link:active {
  border-bottom: 3px solid #E71414;
  color: #E71414;
}

.header__linkLogo {
  width: 184px;
  height: 26px;
}

.header__svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 1px solid #BABBC5;
}

.bannerTop {
  position: relative;
  background: #252B49;
  mix-blend-mode: normal;
  background-image: url(../image/background_image_headerTop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 120px;
}

.bannerTop::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #252B49;
  opacity: 0.8;
}

.bannerTop__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.bannerTop__text {
  margin-bottom: 82px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}

.bannerTop__btn {
  max-width: 370px;
  width: 100%;
  padding: 24px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
  background-color: #FF4343;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.bannerTop__btn:hover {
  background-color: #E71414;
}

.bannerTop__btn:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.container__bannerTop {
  position: relative;
  z-index: 2;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
}

.advantages {
  padding: 116px 0 134px;
}

.advantages__list {
  text-align: center;
}

.advantages__image {
  margin-bottom: 35px;
}

.advantages__title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2D3033;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.advantages__text {
  color: #6C7279;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.container__advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 22px;
  grid-row-gap: 85px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.projects {
  padding-bottom: 114px;
}

.projects__imageWrap {
  width: 378px;
  height: 340px;
  border: 1px solid #FFFFFF;
  position: relative;
}

.projects__imageWrap::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.projects__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container__projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 1510px;
  width: 100%;
}

.container__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.team {
  padding-bottom: 114px;
}

.team__imageWrap {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}

.team__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  color: #2D3033;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.team__subtitle {
  margin-bottom: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FF4343;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.team__text {
  margin-bottom: 38px;
  font-family: "Raleway", sans-serif;
  color: #6C7279;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.team__link {
  margin-right: 5px;
}

.team__link:last-child {
  margin-right: 0;
}

.team__socialsSvg:hover path {
  fill: #E71414;
}

.team__socialsSvg:hover rect {
  stroke: #E71414;
}

.team__socialsSvg:active path {
  fill: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.team__socialsSvg:active rect {
  stroke: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 129px;
          column-gap: 129px;
  background-color: #5C3249;
}

.slider__imageWrap {
  width: 741px;
  height: 490px;
}

.slider__image {
  width: 100%;
  height: 100%;
}

.slider__box {
  max-width: 471px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__title {
  font-family: "Cardo", serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 20px;
}

.slider__text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.download {
  padding: 155px 0 114px;
}

.download__title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}

.download__text {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
}

.download__btn {
  max-width: 370px;
  width: 100%;
  padding: 25px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  border: none;
  cursor: pointer;
  background-color: #FF4343;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.download__btn:hover {
  background-color: #E71414;
}

.download__btn:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.container__download {
  padding: 0 15px;
  text-align: center;
}

.container__footerLight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__footerDark {
  text-align: center;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}

.footer__light {
  background-color: #353C65;
  padding: 71px 0 71px;
}

.footer__dark {
  background-color: #2C3154;
  padding: 24px;
}

.footer__wrap {
  max-width: 370px;
  width: 100%;
  text-align: center;
}

.footer__title {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 29px;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 48px;
}

.footer__copyright {
  font-family: "Raleway", sans-serif;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__copyrightWhite {
  color: #FFFFFF;
}

.footer__socialsSvg:hover path {
  fill: #E71414;
}

.footer__socialsSvg:hover rect {
  stroke: #E71414;
}

.footer__socialsSvg:active path {
  fill: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.footer__socialsSvg:active rect {
  stroke: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}
/*# sourceMappingURL=style.css.map */