.wrapper_footer {
    width: 100%;
    background: #000000;
    padding: 40px 0 27px;
}

.media_icon {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.wrapper_footer .Axure_Themes {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}