.header {
    background: #000000;
}

.header__main {
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_small {
    max-width: 108px;
    max-height: 31px;
}

.logo_small a {
    display: block;
}

.img__logo_small {
    pointer-events: none;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__navigation a {
    min-width: 114px;
    height: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 28px;
}

.header__navigation a:hover {
    background: #EC7979;
}

.header__navigation a:active {
    background: #AB4949;
}

.footer_media {
    display: flex;
    justify-content: center;
    padding: 41px 0 27px 0;
}

.footer_media h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}