.main_banner {
    max-height: 1510px;
    padding-bottom: 185px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    column-gap: 101px;
}

.main_wrapper__main_banner {
    background-image: url(../image/mainbanner.png);
    background-size: contain;
    background-position: center;
    background-size: 100%;
}

.main_banner__background {
    background: rgba(0, 0, 0, 0.5);
}

.main_banner__info {
    max-width: 670px;
}

.logo_big {
    margin-top: 306px;
    margin-bottom: 73px;
}

.main_banner__info h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 55px;
    color: #FFFFFF;
}

.main_banner__info h1::after {
    display: block;
    content: "";
    width: 170px;
    border: 1px solid #FFFFFF;
    margin-top: 55px;
}

.main_banner__info h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
}

.main_banner__info__btm {
    max-width: 270px;
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    border: 2px solid #FFFFFF;
    background: none;
    cursor: pointer;
    padding: 0 70px;
}

.main_banner__registration {
    padding: 18px 50px 0;
    background: #FFFFFF;
    max-width: 470px;
    max-height: 450px;
    margin-top: 333px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 75px;
}

.main_banner__registration__form h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.color_text_red {
    color: #EC7979;
}

.registration__input {
    width: 100%;
    height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background: rgba(189, 189, 189, 1);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 31px;
}

.main_banner__registration__button button {
    width: 470px;
    height: 50px;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.main_banner button:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.main_banner__info button:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.main_banner__registration__button button:hover {
    color: rgb(255, 255, 255);
    background: #AB4949;
}

.main_banner__registration__button button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.wrapper__main_media {
    width: 100%;
    background: #F8EFEF;
    padding: 32px 0 46px;
    margin-bottom: 100px;
}

.main_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media__text h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
}

.media__text p {
    max-width: 470px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.media_icon {
    display: flex;
    flex-direction: row;
}

.media_icon .icon {
    max-height: 59px;
    min-width: 59px;
    margin: 22px;
}