.banner {
    background-image: url(../image/mainbanner.png);
    background-position: center;
    background-size: 100%;
    position: relative;
    padding: 306px 0 185px 0;
}

.banner::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.main_banner__info {
    max-width: 670px;
}

.main_banner__info h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 98px;
    color: #FFFFFF;
}

.main_banner__info h1::after {
    display: block;
    content: "";
    width: 170px;
    border: 1px solid #FFFFFF;
    position: relative;
    left: 0;
    bottom: -55px;
    margin-bottom: 42px;
}

.info__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
    margin-bottom: 42px;
}

.main_banner__info__btm {
    max-width: 270px;
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    border: 2px solid #FFFFFF;
    background: none;
    cursor: pointer;
    padding: 0 70px;
}

.main_banner__info__btm:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.logo_big {
    display: block;
    width: 170px;
    height: 55px;
    margin-top: -27px;
    margin-bottom: 73px;
}

.main_banner__registration {
    padding: 18px 0 0;
    background: #FFFFFF;
    max-width: 470px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.main_banner__registration h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 75px;
    text-align: center;
}

.color_text_red {
    color: #EC7979;
}

.main_banner__registration input {
    max-width: 370px;
}

.registration__input {
    padding: 33px 0 16px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background: rgba(189, 189, 189, 1);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.registration__input:hover {
    color: #000000;
    background-color: rgb(236, 236, 236);
}

.registration__input:focus {
    background: linear-gradient(#ffffff, #b1b1b1, #ffffff);
}

.main_banner__registration__button button {
    width: 100%;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 75px;
    padding: 20px;
}

.main_banner button:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.main_banner__info button:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.main_banner__registration__button button:hover {
    color: rgb(255, 255, 255);
    background: #AB4949;
}

.main_banner__registration__button button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.wrapper__main_media {
    width: 100%;
    background: #F8EFEF;
    padding: 32px 0 46px;
    margin-bottom: 100px;
}

.main_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media__text__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
}

.media__text p {
    max-width: 470px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.object_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.media_icon {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    column-gap: 20px;
}

.media_icon .icon {
    height: 59px;
    width: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media_icon .icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: no-repeat;
}

.banner__conteiner {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
}