.main_wrapper__reviews_wrapper {
    margin-top: 107px;
    margin-bottom: 59px;
}

.reviews_wrapper__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}

.reviews_wrapper__title::after {
    display: block;
    content: "";
    width: 170px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.main_wrapper__reviews_wrapper .text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 59px;
}

.text_review {
    position: relative;
    text-align: center;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 38px 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 66px;
}

.text_review::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    background: #E2E2E2;
    transform: rotate(-225deg);
    left: 30px;
    bottom: -5px;
}

.text_contact_review {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    column-gap: 30px;
    max-width: 370px;
}

.reviews_wrapper__contacts_clients {
    display: flex;
    justify-content: center;
}

.contact_client__img_client {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 50%;
}

.contact_client__img_client img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews_wrapper__contact_client {
    display: flex;
}

.texts_contacts_reviews {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.reviews_wrapper__name_position_client h3 {
    margin-bottom: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.reviews_wrapper__name_position_client p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}