* { padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Raleway', sans-serif;
}
.tabs{ 
    margin-bottom: 118px;
}
.container{
max-width: 1170px;
padding: 0 15px;
width: 100%;
margin: 0 auto;
}
.tab__buttons{
    display: flex;
}
.tabs__btn.tabs__btn_active{
    border: 1px solid #c6cbcd;}
.tabs__btn{
cursor: pointer;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
max-width: 203px;
width: 100%;
min-height: 40px;
border: 1px solid transparent;
box-sizing: border-box;
border-radius: 5px 5px 0px 0px;
background-color: rgb(255, 255, 255);
color: #333333;
}
.info__tab{
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
    display: flex;
}
.tab__info{
    display: inline-block;
    width: 60%;
    padding: 50px 30px 50px 101px;
}
.tab__img{
    display: inline-block;
    width: 30%;}
    .tab__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tab__title{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 30px;
        align-items: center;
    margin-bottom: 57px;}
    .tab__text{
        font-size: 18px;
    margin-bottom: 24px;}
p.tab__text:last-of-type {margin: 0;}
.tab__btn{ 
max-width: 270px;
width: 100%;
padding: 17px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
background-color: #ec7979;
margin-top: 84px;
border: 1px solid #EC7979;

}
.awesome{
    margin-bottom: 110px;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
color: #000;}

.awesome__why{
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
margin-bottom: 80px;
position: relative;
    

    }
.awesome__why::after{
    content:"";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: calc(100% + 40px);
}
.awesome__lr {

text-align: center;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B
}

.block-info { 
    display: flex;
    margin-top: 100px;
    column-gap: 30px;}

    .block-info__1 {
        width: calc((100%-60px) / 3);
        text-align: center

    }
    .block-info__2 {  
        width: calc((100%-60px) / 3);
        text-align: center

    }
    .block-info__3 {    
        width: calc((100%-60px) / 3);
        text-align: center

        }
        .block-info__wrap{
            border: 1px solid #EC7979;
            box-sizing: border-box;
            border-radius: 92px;
            width: 92px;
            height: 92px;
            text-align: center;
            margin: 0 auto 24px;
            display: flex;
            align-items: center;
        justify-content: center;}
        .block-info__img {
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
            .block-info__title {
                margin-bottom: 24px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                }
            .block-info__text {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;}
.pricing{
max-width: 1508px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
background: #F5F5F5;
}
.container__pricing{
    max-width: 1170px;
    padding: 82px 15px;
    width: 100%;
    margin: 0 auto;
}                
.pricing__why{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    position: relative;

}
.pricing__why::after{
    content:"";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: calc(100% + 40px);
}
.pricing__lr{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
color: #86878B;
}
.packages{
    display: flex;
    column-gap: 30px;
    margin-top: 79px;
}
.package__block-1{ 
    width: calc((100%-60px) / 3);
    text-align: center;}

.package__block-2{ 
    width: calc((100%-60px) / 3);
    text-align: center;
margin-top: -20px;}

.package__block-3{ 
    width: calc((100%-60px) / 3);
    text-align: center;}
.item{
    list-style-type: none;
}
.package__title{
    background: #333333;
}
.package__name{
    padding: 13px;
    border-bottom: 2px solid #F5F5F5;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center
    }
.package__price{
    padding: 38px;
    border-bottom: 2px solid #F5F5F5;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;

    }
    .package__info{
    padding: 15px;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    justify-content: center;
    color: #ffffff80
    }
.item{
    padding: 15px;
    background: #FFFFFF;
    color: #86878B;
    font-size: 18px;
    line-height: 21px
}
.reviews{
max-width: 1508px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
}

.container__reviews{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
padding: 107px 0;
}
.reviews__title{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px;
    
    color: #000000;}
.reviews__title::after{
    content:"";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: calc(100% + 40px);
}
.reviews__lr{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.reviews__wrap{
    display: flex;
    column-gap: 30px;
    margin-top: 83px;
}
.review__block{
    width: calc((100%-60px) / 3);
}


.review__text{ text-align: center;
    max-width: 370px;
    width: 100%;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 37px 25px;
}
.review__foto{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}