
.awesome__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.awesome__title {
    text-align: center;
    margin-bottom: 40px;
}

.awesome_separator {
    border-bottom: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.awesome__text {
    text-align: center;
}

.awesome__text {
    color: #86878B;
}

.awesome__container {
    margin-bottom: 92px;
}

.advantages__container {
    text-align: center;
}

.advantages__item {
    max-width: 370px;
    display: inline-block;
    margin: 0 auto;
}

.img__container {
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    border-radius: 50px;
    display: flex;
}

.advantages__title {
    text-align: center;
}

.advantages__text {
    text-align: center;
}
.advantages__img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.advantages__title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 26px;
}