* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    background-color: #000000;
}

.container-header{
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}

.header__items{
    display: flex;
    list-style-type: none;
    column-gap: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}

.header__atem{
    padding: 22px;
    background: none;
    border: none;
}

.header__atem:hover{
    color: #ffffff;
    background: #EC7979;
    cursor: pointer;
}

.header__atem:active{
    background: #AB4949;
    color: #ffffff;
}

.header__link{
    color: #ffffff;
}

.header__logo{
    pointer-events: none;
}