* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    padding: 306px 0 185px;
    background: rgba(0, 0, 0, 0.5);
    background-image: url(../image/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.banner::after{
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.container-banner{
    max-width: 1240px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    column-gap: 101px;
    margin: 0 auto;
    align-items: center;
}

.banner__registration{
    max-width: 470px;
    width: 100%;
    max-height: 450px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    top: 30px;
    left: 0;
    padding-top: 36px;
}

.banner__form{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}

.banner__input{
    max-width: 370px;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.banner__input:hover{
    border-bottom: 1px solid #EC7979;
}

.banner__input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.banner__button{
    max-width: 470px;
    width: 100%;
    background-color: #EC7979;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    border: none;
    margin-top: 66px;
}

.banner__subtitle{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.banner__button:hover{
    background: #AB4949;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}

.banner__button:active{
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
}

.color{
    color: #EC7979;
}

.banner__logo{
    margin-bottom: 73px;
    position: relative;
    z-index: 2;
}

.banner__title{
    max-width: 670px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin-bottom: 97px;
    position: relative;
    z-index: 2;
}

.banner__title::after{
    content: '';
    display: block;
    border-bottom: 1px solid #FFFFFF;
    width: 170px;
    position: absolute;
    top: calc(100% + 40px);
}

.banner__text{
    max-width: 270px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    margin-bottom: 42px;  
    position: relative;
    z-index: 2;  
}

.banner__btn{
    max-width: 270px;
    padding: 14px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    background: none;
    border: 2px solid #FFFFFF;;
    position: relative;
    z-index: 2;
}

.banner__btn:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner__btn:active{
    color: #FFFFFF;
    background-color: #AB4949;
    border: 2px solid #AB4949;
}
