* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.header{
    background-color: #000000;
}
.header__block{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 28px 15px;
}
.header__logo{
    object-fit: contain;
    width: 86px;
    height: 31px;
    cursor: pointer;
}
.header__link{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 28px 28px;
}
.header__item{
    display: inline;
}
.header__link:hover{
    background: #EC7979;
}
.header__link:active{
    background: #AB4949
}
.header__list{
    list-style-type: none;
}
.logo{max-width: 270px;
    margin-bottom: 72px;
    cursor: pointer;
}

.banner__block{
    max-width: 670px;
    width: 100%;
}
.banner{
    padding: 300px 0 185px;
    background-image: url(../img/street.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner::after{
content: "";
background: rgba(0, 0, 0, 0.5);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.banner__title{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;
align-items: center;
text-transform: uppercase;
color: #FFFFFF;
position: relative;
margin-bottom: 97px;

}

.banner__text{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
color: #FFFFFF;
max-width: 270px;
margin-bottom: 42px;
}
.banner__btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    max-width: 270px;
    width: 100%;
    padding: 20px;
    background-color: rgba(28,28,28,0);
    cursor: pointer;
}
.banner__btn:hover{
    border: 2px solid #EC7979;
    box-sizing: border-box;
    color: #EC7979;
}
.banner__btn:active{
    background: #AB4949;
    border: 2px solid #AB4949;
    box-sizing: border-box;
    color: #FFFFFF;
}
.banner__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: calc(100% + 55px);
}
.social{
    background: #F8EFEF;
    margin-bottom: 99px;
}
.container__social{
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.social__info{
max-width: 470px;

}
.social__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    color: #333333;
    padding: 13px 0;
    margin-bottom: 18px;
}
.social__text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #86878B;
    margin-bottom: 18px;
}
.social__nav{
    display: flex;
    max-width: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
}
.social__link{
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__link:hover{
    background: #EC7979;
}
.social__link:active{
    background: #AB4949;
}
.social__icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.tabs{ 
    margin-bottom: 118px;
}
.container{
max-width: 1170px;
padding: 0 15px;
width: 100%;
margin: 0 auto;
}
.tab__buttons{
    display: flex;
}
.tabs__btn.tabs__btn_active{
    border: 1px solid #c6cbcd;
position: relative;
}
.tabs__btn_active::after{
content: "";
width: 100%;
height: 5px;
display: block;
position: absolute;
background-color: #FFFFFF;
left: 0;
bottom: -3px;
}
.tabs__btn{
cursor: pointer;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
max-width: 203px;
width: 100%;
min-height: 40px;
border: 1px solid transparent;
box-sizing: border-box;
border-radius: 5px 5px 0px 0px;
background-color: rgb(255, 255, 255);
color: #333333;
}
.info__tab{
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
    display: flex;
}
.tab__info{
    display: inline-block;
    width: 60%;
    padding: 50px 30px 50px 101px;
}
.tab__img{
    display: inline-block;
    width: 40%;}
    .tab__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tab__title{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 30px;
        align-items: center;
        margin-bottom: 57px;}
    .tab__text{
        font-size: 18px;
        margin-bottom: 24px;}
p.tab__text:last-of-type {margin: 0;}

.tab__btn{ 
max-width: 270px;
width: 100%;
padding: 17px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
background-color: #ec7979;
margin-top: 84px;
border: 1px solid #EC7979;
}
.tab__btn:hover{
    background: #AB4949
}
.tab__btn:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.awesome{
    margin-bottom: 110px;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    color: #000;}

.awesome__why{
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
margin-bottom: 80px;
position: relative;
    

    }
.awesome__why::after{
    content:"";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: calc(100% + 40px);
}
.awesome__lr {

text-align: center;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B
}

.block-info { 
    display: flex;
    margin-top: 100px;
    column-gap: 30px;}

    .block-info__1 {
        width: calc((100%-60px) / 3);
        text-align: center

    }
    .block-info__2 {  
        width: calc((100%-60px) / 3);
        text-align: center

    }
    .block-info__3 {    
        width: calc((100%-60px) / 3);
        text-align: center

        }
        .block-info__wrap{
            border: 1px solid #EC7979;
            box-sizing: border-box;
            border-radius: 92px;
            width: 92px;
            height: 92px;
            text-align: center;
            margin: 0 auto 24px;
            display: flex;
            align-items: center;
        justify-content: center;}
        .block-info__img {
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
            .block-info__title {
                margin-bottom: 24px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                }
            .block-info__text {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;}
.pricing{
    padding: 82px 0;
    background: #F5F5F5;
}
.container__pricing{
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}                
.pricing__why{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    position: relative;

}
.pricing__why::after{
    content:"";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: calc(100% + 40px);
}
.pricing__lr{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
color: #86878B;
}
.packages{
    display: flex;
    column-gap: 30px;
    margin-top: 79px;
}
.package__block-1{ 
    width: calc((100%-60px) / 3);
    text-align: center;
}
.package__block-1:hover{
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.package__block-2{ 
    width: calc((100%-60px) / 3);
    text-align: center;
}
.package__block-2:hover{
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.package__block-3{ 
    width: calc((100%-60px) / 3);
    text-align: center;
}
.package__block-3:hover{
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.item{
    list-style-type: none;
}
.package__title{
    background: #333333;
}
.package__name{
    padding: 13px;
    border-bottom: 2px solid #F5F5F5;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center
    }
.package__price{
    padding: 38px;
    border-bottom: 2px solid #F5F5F5;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;

    }
    .package__info{
    padding: 15px;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    justify-content: center;
    color: #ffffff80
    }
.item{
    padding: 15px;
    background: #FFFFFF;
    color: #86878B;
    font-size: 18px;
    line-height: 21px
}
.reviews{
    padding: 107px 0;
}
.container__reviews{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.reviews__title{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px;
    
    color: #000000;}
.reviews__title::after{
    content:"";
    display: block;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: calc(100% + 40px);
}
.reviews__lr{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.reviews__wrap{
    display: flex;
    column-gap: 30px;
    margin-top: 83px;
}
.review__block{
    width: calc((100%-60px) / 3);
}


.review__text{ 
    padding: 35px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;}

    .review__block_text{
        max-width: 370px;
        width: 100%;
        background: #E2E2E2;
        border-radius: 10px;
        margin-bottom: 66px;
    position: relative;
}
.review__img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.review__foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review__info{
    display: flex;
    column-gap: 30px;
    max-width: 370px;
    width: 100%;
}
.review__name{
max-width: 270px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
align-items: center;
color: #000000;
margin-bottom: 19px
}
.review__position{
max-width: 270px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
color: #000000
}
.review__block_text::after{
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    transform: translateX(70px);
}
.stylish{
    padding: 70px 0 70px;
    background-image: url(../img/city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.stylish::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
.stylish__title{
font-weight: 400;
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
color: #FFFFFF;
position: relative;
margin-bottom: 80px;
}
.stylish__title::after{
    content: "";
    width: 170px;
    height: 0px;
    border: 1px solid #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 40px);
}
.stylish__text{
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
color: #FFFFFF;
margin-bottom: 80px;
}
.stylish__btn{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
align-items: center;
text-align: center;
color: #FFFFFF;
border: 2px solid #FFFFFF;
box-sizing: border-box;
max-width: 370px;
width: 100%;
padding: 20px;
background-color: rgba(28,28,28,0);
cursor: pointer;
margin: 0 auto;
display: block;
}
.stylish__btn:hover{
    border: 2px solid #EC7979;
    box-sizing: border-box;
    color: #EC7979;
}
.stylish__btn:active{
    background: #AB4949;
    border: 2px solid #AB4949;
    box-sizing: border-box;
    color: #FFFFFF;
}

.footer{
    background: #000000;
    padding: 35px 0 27px;
}
.container__footer{
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    }
    .footer__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 35px;
        margin-bottom: 27px;
        
    }
    .footer__link{
        width: 53px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__link:hover{
        background: #EC7979;
    }
    .footer__link:active{
        background: #AB4949;
    }
    
    .footer__icon{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer__text{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, 0.5); 
    }