*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.tabs{
    margin-bottom:110px;
}

.container{
    max-width:1170px ;
    margin: 0px auto;
    padding: 0 15px;
    
}

.tabs__items{
display: flex;
}

.tabs__item{
    width: calc((100% - 560px) / 3);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    max-width: 203px;
    width: 100%;
    min-height: 40px;
    border-radius: 5px 5px 0px 0px;
}

.tabs__item_active{
    border:1px solid #C6CBCD;
    border-bottom: none;
}

.tabs__item:hover{
    background-color:#C6CBCD
}

.tabs__item:active{
    color:white
}


.tab{
    border: 1px solid #C6CBCD;
    display: flex;
}

.tab__info{
    padding:50px 30px 50px 100px;
    width: 60%;
    
}

.tab__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 57px;
    font-size: 30px;
}

.tab__text{
    margin-bottom: 74px;
    font-size: 18px;
    line-height: 21px;
}

.tab__text:last-of-type{
    margin: 0px;
}

.tab__button{
    width:100%;
    max-width: 270px;
    min-height: 58px;
    background-color: #EC7979;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: none;
    margin-top:74px;
    font-size: 18px;
    
}

.tab__button:hover{
    background-color: #AB4949;
}

.tab__wrap{
    min-height: 500px;
}

.tab__image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.answer{
    margin-bottom: 110px;

}

.answer__block{
    text-align: center;
    margin-bottom: 92px;
    position: relative;
}

.answer__subject{
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    
}

.answer__subject::after{
    position: absolute;
    content: '';
    display: block;
    width:170px;
    border-bottom: 1px solid #EC7979;
    top:75px;
    left:470px;
}

.answer__txt{
    color:#86878B;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
}

.reason{
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.reason__content{
    max-width: 370px;
}

.reason__wrap{
    border: 1px solid #EC7979 ;
    width:92px;
    height:92px;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
}

.reason__info{
    text-align: center;
}

.reason__title{
    margin-bottom:30px ;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    
}

.reason__text{
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
}

.options{
    background-color: #F5F5F5;
    padding: 82px 0;
    margin-bottom: 110px;
    
}

.options__block{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.options__title{
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    
}

.options__title::after{
    position: absolute;
    content: '';
    display: block;
    width:170px;
    border-bottom: 1px solid #EC7979;
    top:75px;
    left:470px
}

.options__txt{
    color:#86878B;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 92px;
}

.price{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    
}

.block{
    width: calc((100% - 60px) / 3);
    
    text-align: center;
    max-height: 510px;
    
}

.block:hover{
    margin-top: -20px;
}

.price__title{
    background-color: #333333;
    color: #ffffff;
    border-bottom: 2px solid #F5F5F5;
    min-height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 12px 0;
    
}

.price__cost{
    background-color: #333333;
    color: #ffffff;
    border-bottom: 2px solid #F5F5F5;
    min-height: 100px;
    padding: 25px 0;
    font-weight: 700;
    font-size: 36px;
    
}
.price__txt{
    background-color: #333333;
    color: #C4C4C4 ;
    min-height: 50px;
    padding: 15px 0;
    font-size: 18px;
}

.list{
    list-style-type: none;
}

.list__block{
    color: #86878B;
    border-bottom: 2px solid #F5F5F5;
    min-height: 50px;
    padding:15px 0;
    background-color: white;
}

.customers{
    margin-bottom: 110px;
}

.customers__block{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.customers__title{
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.customers__title::after{
    position: absolute;
    content: '';
    display: block;
    width:170px;
    border-bottom: 1px solid #EC7979;
    top:75px;
    left:470px;
}


.customers__txt{
    color:#86878B;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 83px;
}


.comments{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    
}

.comment{
    max-width: 370px;
    position: relative;
    
}

.comments__block{
    border: 1px solid #E2E2E2;
    min-height: 180px;
    text-align: center;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    }

.comments__block::after{
    content: '';
    display:inline-block;
    position: absolute;
    left: 50px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.comments__text{
    color: #86878B;
    font-size: 18px;
    line-height:21px;
    padding: 38px 25px;
    
    z-index: 10;
    bottom: 40px;
}

.comments__info{
    display: flex;
}

.comments__wrap{
    margin-right: 30px;
}

.comments__title{
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

.comments__txt{
    font-size: 18px;
    line-height: 21px;
}