* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.options{
    background-color: #F5F5F5;
    padding: 82px 0px 83px;
}

.container-options{
    max-width: 1170px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

.options__title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.options__line{
    border: 1px solid #EC7979;
    max-width: 170px;
    margin: 40px auto;
}

.options__text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
    margin-bottom: 59px;
}

.content {
    display: flex;
    column-gap: 30px;
}

.content ul {
    width: calc((100% - 60px) / 3);
    text-align: center;
}

li {
    list-style-type: none;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    width: 100%;
    padding: 14px;
    font-family: 'Raleway', sans-serif;
    color: #86878B;
}

.content__header{
    width: 100%;
    padding: 19px;
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}

.content__price{
    width: 100%;
    padding: 39px;
    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.content__freeforlife {
    background-color: #333333;
    color: hwb(0 100% 0% 0.5);
    font-weight: 400;
    font-size: 18px;
}

.content__center{
    margin-top: -15px;
}