*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reviews{
    padding: 107px 0px 100px;
}

.contaner__reviews{
    max-width: 1171px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.reviews__title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.reviews__title::after{
    content: '';
    display: block;
    border: 1px solid #EC7979;
    max-width: 170px;
    margin: 40px auto;
}

.reviews__text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #86878B;
    margin-bottom: 83px;
}

.reviews__columns{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}


.reviews__subtext{
    background-color: #E2E2E2;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #86878B;
    padding: 38px 25px 37px;
    max-width: 370px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 66px;
}

.reviews__first::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    top: -120px;
    left: 60px;
}

.reviews__second::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    top: -120px;
    left: 60px;
}

.reviews__thethird::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    top: -120px;
    left: 60px;
}

.reviews__icons{
    display: flex;
    column-gap: 30px;
}

.reviews__items{
    list-style-type: none;
}

.reviews__item{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 19px;
}

.reviews__item-m{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.reviews__img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}